body {
  font-family: "Montserrat", sans-serif;
  color: white;
  margin: 0;
  padding: 0;
  overflow-x: hidden; }

.navTitle {
  float: left; }

.navTitle p {
  margin: 0;
  padding: 12%;
  width: 100%;
  cursor: pointer; }

.burgerWrapper {
  float: right; }

.burgerBtn {
  background-color: #202529;
  padding: 17%;
  float: right; }

.navMenuWrapper {
  background-color: #373c3f;
  height: 40px; }

.middleWrapper::after {
  clear: both;
  content: '';
  display: block; }

.navMenu li {
  list-style: none; }

.navMenu a {
  text-decoration: none;
  color: white;
  text-transform: uppercase;
  display: none;
  float: right; }

.burgerWrapper {
  display: inline-block; }
  .burgerWrapper:hover > .navMenu li > a {
    display: inline-block; }

.cls-1, .cls-2 {
  fill: none;
  stroke: white;
  stroke-linejoin: round;
  stroke-linecap: round;
  stroke-width: 2px; }

.icons {
  width: 20px;
  display: inline-block; }

.lightBlueWrapper {
  background-image: linear-gradient(90deg, #19b4c6, #078aa4);
  height: 176px; }

.lightBlueAlign {
  width: 60%;
  margin-left: 10%;
  padding: 55px 0 0; }

.firstBlockFeature {
  margin-top: 5%; }

.firstBlockFeature p {
  float: left;
  opacity: 0.8;
  cursor: pointer; }
  .firstBlockFeature p:hover {
    opacity: 1; }

.firstBlockFeature svg {
  float: right;
  padding: 0; }

.firstBlockFeature::after {
  clear: both;
  content: '';
  display: block; }

.lightBlueWrapper p {
  margin: 0;
  display: inline-block; }

.middleWrapper {
  width: 100%; }

.middleWrapper::after {
  clear: both;
  content: ''; }

.featureWrapper {
  background-color: #27212c;
  width: 80%;
  float: left;
  font-size: 12px;
  text-align: center; }

.featureWrapper p {
  margin: 0 auto;
  padding: 34px 0 34px;
  display: inline-block;
  opacity: 0.5;
  cursor: pointer; }
  .featureWrapper p:hover {
    opacity: 1; }

.svgWrapperFirstColor svg {
  margin: 0 auto;
  padding: 29px 0 28px;
  display: inline-block; }

.svgWrapperFirstColor {
  text-align: center;
  background-color: #bc3183;
  width: 20%;
  float: right;
  border-top: 2px solid #f060e4; }

.svgWrapperSecondColor {
  background-color: #5b0fa1;
  border-top: 2px solid #9a1ade;
  border-bottom: 2px solid #9a1ade;
  text-align: center;
  padding: 30%; }

.imgWrapper::after {
  clear: both;
  content: '';
  display: block; }

.imgAssetContent {
  width: 100%;
  border-bottom: 2px solid #f060e4;
  float: left; }

.secondBlock {
  display: none; }

.firstBlock {
  padding: 45px; }

.contentWrapper {
  background-color: #ebebeb; }

.contentTitle {
  color: #088ca5;
  cursor: pointer; }
  .contentTitle:hover {
    color: #40abbf; }

.contentBlock {
  color: black;
  opacity: 0.8; }

@media only screen and (min-width: 640px) {
  .navTitle p {
    padding: 5%;
    font-size: 1.5rem; }

  .lightBlueWrapper {
    height: 350px; }

  .firstBlockTitle {
    font-size: 2rem; }

  .lightBlueAlign {
    padding: 100px 0 0; }

  .middleWrapper, .featureWrapper, .svgWrapperFirstColor {
    height: 100px; }

  .cls-1, .cls-2 {
    stroke-width: 4px; }

  .icons {
    width: 34px; }

  .featureWrapper p {
    padding: 5.5% 0;
    font-size: 1.2rem; }

  .svgWrapperFirstColor svg {
    padding: 24.5% 0; }

  .firstBlock {
    padding: 75px;
    line-height: 40px; } }
@media only screen and (min-width: 980px) {
  .navTitle {
    display: none; }

  .burgerBtn {
    display: none; }

  .burgerWrapper {
    float: left; }

  .navMenu a {
    float: left;
    display: unset; }

  .navMenu a {
    margin-right: 28px; }

  .navMenu {
    width: 100vw; }

  .navMenuWrapper {
    padding: 35px 0; }

  .lightBlueWrapper {
    height: 350px; }

  .firstBlockTitle {
    font-size: 2rem; }

  .lightBlueAlign {
    max-width: 458px;
    margin-left: 5%; }

  .middleWrapper, .featureWrapper, .svgWrapperFirstColor {
    height: 120px; }

  .svgWrapper, .imgAssetContent {
    display: inline-block; }

  .svgWrapperFirstColor {
    border: unset; }

  .svgWrapperSecondColor {
    padding: 0%;
    width: 33%;
    float: left; }

  .svgWrapperSecondColor svg {
    padding: 38%; }

  .imgAssetContent {
    width: 33.4%; }

  .imgWrapper {
    width: 100vw; }

  .firstBlock {
    display: inline-block;
    width: 45%;
    padding: 2% 2% 10% 2%; }

  .secondBlock {
    display: inline-block;
    width: 45%;
    line-height: 40px;
    padding: 2% 2% 10% 2%; } }
@media only screen and (min-width: 1024px) {
  .navTitle {
    display: none; }

  .burgerBtn {
    display: none; }

  .burgerWrapper {
    float: left; }

  .navMenu a {
    float: left;
    display: unset; }
    .navMenu a:hover {
      opacity: 0.5; }

  .navMenu a {
    margin-right: 28px; }

  .navMenu {
    width: 100vw; }

  .navMenuWrapper {
    padding: 35px 0; }

  .lightBlueWrapper {
    height: 350px; }

  .firstBlockTitle {
    font-size: 2rem; }

  .lightBlueAlign {
    max-width: 458px;
    margin-left: 5%; }

  .middleWrapper, .featureWrapper, .svgWrapperFirstColor {
    height: 120px; }

  .featureWrapper p {
    padding: 3.5% 0; }

  .svgWrapper, .imgAssetContent {
    display: inline-block; }

  .svgWrapperFirstColor svg {
    padding: 13.5% 0; }

  .svgWrapperSecondColor {
    padding: 0%;
    width: 33%;
    float: left; }

  .svgWrapperSecondColor svg {
    padding: 38.99%; }

  .icons {
    width: 8%; }

  .imgAssetContent {
    width: 33.4%; }

  .imgWrapper {
    width: 100vw; }

  .firstBlock {
    width: 25%;
    text-align: left;
    padding: 2% 2% 6%; }

  .secondBlock {
    width: 25%;
    text-align: left;
    padding: 2% 2% 6%; }

  .wrapperBox {
    width: 100vw; }

  .imgsWrapper:hover {
    clear: both;
    content: "";
    display: block; }

  .contentWrapper {
    margin: 0 auto;
    text-align: center; }

  .imgsWrapper {
    float: left; } }

/*# sourceMappingURL=style.css.map */
