@media only screen and (max-width: 405px) {

  body {
    font-family: $mainFontFamily;
    color: white;
    margin: 0;
    padding: 0;
    overflow-x: hidden;
  }

  .navMenu li {
    list-style: none;
  }

  .burgerWrapper {
    display: inline-block;
    &:hover > .navMenu li > a {
      display: inline-block;
    }
  }

  .navMenu a {
    text-decoration: none;
    color: white;
    text-transform: uppercase;
    display: none;
  }

  .navMenu {
    display: block;
  }

  .cls-1,.cls-2 {
    fill: none;
    stroke: white;
    stroke-linejoin: round;
    stroke-linecap: round;
    stroke-width: 2px;
  }

  .icons {
    width: 64px;
    padding: 10px;
  }

  .navMenuWrapper {
    background-color: #373c3f;
  }

  .lightBlueWrapper {
    background-image: linear-gradient(90deg, #19b4c6, #078aa4);
    height: 500px;
    width: 500px;
  }

  .featureWrapper {
    background-color: #27212c;
  }

  .svgWrapperFirstColor {
    background-color: #bc3183;
  }

  .svgWrapperSecondColor {
    background-color:  #5b0fa1;
  }

  .contentWrapper {
    background-color: #ebebeb;
  }

  .contentTitle {
    color:#088ca5;
  }

  .contentBlock {
    color: black;
  }

  .burgerBtn {
    background-color: #202529;
  }

}
